main {
  width: 100vw;
  height: 100vh;
   display: grid;
   grid-template-areas:
   'top top top top'
   'lcol bo bo rcol'
   'lcol bo bo rcol'
   'fot fot fot fot'
}

#Lcol {
  grid-area: lcol;

}
#Rcol {
  grid-area: rcol;

}
header {
  grid-area: top;

}
footer {
  grid-area: fot;


}
#board {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    grid-area: bo;
}

.Row{
  display: flex;
  flex: auto;
  }
.L, .spot, .lSpot{
  flex: 30%;
}
.spot+.A:nth-child(odd), .B:nth-child(even),
.spot+.C:nth-child(odd), .D:nth-child(even),
.spot+.E:nth-child(odd), .F:nth-child(even),
.spot+.G:nth-child(odd), .H:nth-child(even){
  background-color: gray;


}
.red {
  width: inherit;
  height: .5em;
  background-color: red;
  position: relative;
  top: 1.5em;
}
.black {
  width: inherit;
  height: .5em;
  background-color: black;
  position: relative;
  top: 1.5em;
}

.spot+.highlight {

}
.highlight {
  width: inherit;
  height: .2em;
  border: blue .3em solid;
}
.possible {
  width: inherit;
  height: inherit;
  border: darkblue .1em solid;
}

.checker {

}

h1, #P1 {
  position: relative;
  left: 40%;
}

#P2 {
  position: relative;
  left: 0%;
}

#P1S, #P2S {
  display: flex;
}

#itemP1Score, #itemP2Score {
  flex: auto;
}

.PSNums {
 flex: auto;
}

.GoldName {
  color: gold;
}

.king:hover {
  background-color: gold;
}
